.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}



.button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button-selected {
  background-color: lightblue;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  height: 100vh;
}

